<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="../../node_modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="../../node_modules/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../styles/homeStyle.css">
    <link rel="stylesheet" type="text/css" href="../styles/sidebar.css">
</head>

<body>
    <div class="sidebar">
        <ul class="sidebar-list">
            <li class="nav-item">
                <p class='logo'>PASSVAULT</p>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="bi bi-safe"></i>
                    <span class="link-text"><b>Passwords</b></span>
                </a>
            </li>

            <li class="nav-item">
                <a href="#" class="nav-link">
                    <i class="bi bi-person"></i>
                    <span class="link-text"><b>Account</b></span>
                </a>
            </li>

            <li class="nav-item">
                <a href="index.html" class="nav-link">
                    <i class="bi bi-box-arrow-right"></i>
                    <span class="link-text logout"><b>Logout</b></span>
                </a>
            </li>
        </ul>
    </div>
    
    <view id='passwords-view'>
        <div class="container-fluid"> 
            <div class="pb-3 pt-3 header">
                <div class="col-auto list-icon-wrapper text-center">
                    <i class="bi bi-list-ul list-icon"></i>
                </div>
                <div class="col-auto search-wrapper">
                    <form>
                        <i class="bi bi-search"></i>
                        <input class="px-5" type="text" id="search" placeholder="Search"/>
                    </form>
                </div>
                <div class="col-auto info-icon-wrapper text-center" style="margin-left:auto;">
                    <i class="bi bi-info-circle info-icon"></i>  
                </div>
            </div> 

            <div class="row justify-content-center">
                <% details.forEach ( function (item,index){
                %>
                <!-- webiste Passwords -->
                <div class="col-9 col-lg-6 col-xl-4">
                    <div class="card <%= index %>">
                        <div class="card-body d-flex flex-column ">        
                            
                            <div class="row">
                                <div class="col-2 strength-meter score-<%=item.score%> ">
                                    <i id='c1' class="bi <%= index %>"></i>
                                    <i id='c2' class="bi <%= index %>"></i>
                                    <i id='c3' class="bi <%= index %>"></i>
                                    <i id='c4' class="bi <%= index %>"></i>
                                    <div class="popup <%= index %>">
                                        <p>password-strength</p> 
                                    </div>
                                </div>
                                
                                <div class="col"></div>

                                <div class="col-4">
                                    <i id='<%= item.website %>-update' class="bi bi-arrow-counterclockwise"></i> 
                                    <i id='<%= item.website %>-x' class="bi bi-x"></i>
                                </div>

                                
                            </div>
                            <div class="row">
                                <!-- <h5 class="card-text">Password</h5> -->
                                <p class="card-title <%= index %>" ><strong><%= item.website %></strong></p>
                                <form method="post">
                                    <div class="form-group">
                                        <input type="password" id='<%= item.website %>-form' disabled name="username" class="form-control web-password <%= index %>" value= "<%= item.password %>" >
                                        <i id='<%= item.website %>-eye' class="bi bi-eye eye"></i>
                                        <i id='<%= item.website %>-clipboard' class="bi bi-clipboard clipboard"></i>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="list">
                        <div class="row justify-space-between">
                            <div class="col-auto d-flex flex-column justify-content-center">
                                <p class="list-title <%= index %>" ><strong><%= item.website %></strong></p>
                            </div>
                            <div class="col d-flex flex-column justify-content-center">
                                <form method="post">
                                    <div class="form-group">
                                        <input type="password" id='list-<%= item.website %>-form' disabled name="username" class="form-control web-password list-password <%= index %>" value= "<%= item.password %>" >
                                    </div>
                                </form>
                                <div class="row justify-content-center list-buttons-row">
                                    <div class="col-auto" style="padding-right: .25rem;">
                                        <div class="list-eye-button text-center">
                                            <div><i id='list-<%= item.website %>-eye' class="bi bi-eye list-eye"></i></div>
                                        </div>
                                    </div>
                                    <div class="col-auto">
                                        <div class="list-clipboard-button text-center"><i id='list-<%= item.website %>-clipboard' class="bi bi-clipboard list-clipboard"></i></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <% })%>
                
                <span id="notification"></span>
            </div>

            <div class="notification-wrapper">
                <div class="notification">

                    <div class="row notif-header">
                        <div class="col-auto notif-title">
                            <div>Notification</div>
                        </div>
                        <!-- <div class="col notif-close">
                            <div class="col-6 text-end"><i class="bi bi-x-circle" style="color: white;"></i></div>
                        </div> -->
                    </div>
                    
                    <div class="row notif-body">
                        <strong class="notif-content">Hello there</strong>
                    </div>
                </div>
            </div>

            <div class="add-password-button-wrapper">
                <div class="add-password-button"><bi class="bi bi-plus"></bi></div>
            </div>
        </div>
    </view>
    
    <view id='accounts-view' style='display: none;'>
        <div class="container-fluid">

            <div class="d-flex flex-column align-items-center account-container">
                <div class="pt-4">
                    <h1>Account</h1>
                </div>

                <div>
                    <i class="bi bi-person-circle" style="font-size: 10rem;"></i>
                </div>

                <div>
                    <h2><%= username %></h2>
                </div>

                <div class="account-form-container">
                    <form>
                        <div class="form-group form-floating">
                            <input type="password" disabled value="<%=globalPassword%>" class="form-control">
                            <label>Master Password:</label>
                            <i class="bi bi-eye account-eye global-password"></i>
                        </div>
                    </form>
                </div>

                <div class="row col-6 justify-content-center" id="details">
                    <div class="p-1 col-sm-12 col-xl-6">
                        <form>
                            <div class="form-group form-floating">
                                <input type="text" disabled value="<%=passwordCount%>" class="form-control">
                                <label>Number of Passwords:</label>
                            </div>
                        </form>
                    </div>

                    <div class="p-1 col-md-12 col-xl-6">
                        <form>
                            <div class="form-group form-floating">
                                <input type="text" disabled value="<%= averagePasswordStrength%>" class="form-control">
                                <label>Avg. password strength:</label>
                            </div>
                        </form>
                    </div>

                </div>
                
            </div>

        </div>
    </view>


</body>

<script>
    var Details = <%- JSON.stringify(details) %>
</script>

<script src="../home.js"></script>

</html>